<a href="https://colab.research.google.com/github/ChongHunYu/CSCI-171-LECT2-CSV-FILE/blob/master/CSCI_171_Fall_2019_Lecture_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSCI 171

## List


# Lists

- Group variables together
- Specific order
- Access items using square brackets:[]

# Accessing Elements, positive indexing, negative indexing

- First item: [0]    (Note: List first index starts from 0 in python, this is called positive indexing)

- Last item: [-1]    (Note: List index from last starts from -1 in python, this is called negative indexing)

In [0]:
myList = [4, 21.2, 'hi'] #List can hold different datatypes like int, float, string together

print(myList)
print(myList[0]) # Accessing First item in myList
print(myList[1]) # Accessing Second item in myList
print(myList[2]) # Accessing Third item in myList
print(myList[-1]) # Accessing Last item in myList
print(myList[-2]) # Accessing Second Last item in myList
print(myList[-3]) # Accessing Third Last item in myList

[4, 21.2, 'hi']
4
21.2
hi
hi
21.2
4

# Work on it now (in the box below)

- Using the concept of list, write a list that contains Four seasons and the average temperature in each season measured in NYC. For example: Winter, 28, Summer, 100 and so on

- Print all the values

In [0]:
i =0
listFourSeason = ["Spring",62, "Summer", 82, "Fall", 65, "Winter", 42]

print("The four seaons and the average HIGH temperature for each season in NYC below : ")

while(i < len(listFourSeason) ):
  print(listFourSeason[i])
  i+=1

The four seaons and the average HIGH temperature for each season in NYC below :
Spring
62
Summer
82
Fall
65
Winter
42

In [0]:
a=[1,2,3]
b=[4,5,6]
c=a+b # This will concatenate two lists into one, but will not add the lists element by element!
print(c)

[1, 2, 3, 4, 5, 6]

In [0]:
#Element by element operation
c0=a[0]+b[0]
c1=a[1]+b[1]
c2=a[2]+b[2]
print([c0,c1,c2])

[5, 7, 9]

## Let's say we have the following table
![image.png](attachment:image.png)

Each value in the table is a data point. A collection of data points make up a data set. For instance, the first row has five data points:

-  Facebook
-  0.0
-  USD
-  2974676
-  3.5

# Work on it now using positive indexing

In the next cell, you can already see the lists for the first three rows.

The fourth element in each list describes the number of ratings an app has received. Retrieve this fourth element from each list, and then find the average value of the retrieved numbers.

-  Assign the fourth element from the list row_1 to a variable named ratings_1. Don't forget that the indexing starts at 0.
-  Assign the fourth element from the list row_2 to a variable named ratings_2.
-  Assign the fourth element from the list row_3 to a variable named ratings_3.
-  Add the three numbers retrieved together and save the sum to a variable named total.
-  Divide the sum (now saved in the variable total) by 3 to get the average number of ratings for the first three rows. Assign the result to a variable named average.

In [0]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]

# Write your code here and execute it


rating_1 = row_1[4]

rating_2 = row_2[4]

rating_3 = row_3[4]

total = rating_1+rating_2+rating_3

average = round(total/3)

print(total)

print(average)

12.5
4

# Work on it now using negative indexing

The last element in each list shows the average rating of each application.

Retrieve the ratings for the first three rows, and then find the average value of all the ratings retrieved.

-  Assign the last element from the list row_1 to a variable named rating_1. Try to take advantage of negative indexing.
-  Assign the last element from the list row_2 to a variable named rating_2.
-  Assign the last element from the list row_3 to a variable named rating_3.
-  Add the three ratings together and save the sum to a variable named total_rating.
-  Divide the total by 3 to get the average rating. Assign the result to a variable named average_rating.

In [0]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]

# Write your code here and execute it


total_rating = row_1[-1]+row_2[-1]+row_3[-1]
avg_rating = (total_rating/3)

print ("    Rating count total: "     + str(total_rating) )
print ("Avg Rating count total: " +str(round(avg_rating)) )

    Rating count total: 12.5
Avg Rating count total: 4

In [0]:
#Oftentimes, we need to retrieve more than one element from a list. 
#Let's say we have the list ['Facebook', 0.0, 'USD', 2974676, 3.5], and 
#we're interested in isolating only the name of the app and the data about ratings (the number of ratings and the rating). 
#This is how we can do that:

row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
Fb_rating_data=[row_1[0],row_1[-2],row_1[-1]]
Fb_rating_data

['Facebook', 2974676, 3.5]

- List can be sliced

- List can be multiplied

- List can be added

In [0]:
myList = [4, 21.2, 'hello']

myList[0:2] # this will print the content of the list from 0 to n-1, here n=2(note the last one does not print!)
#Change the above line so that the last one also prints

[4, 21.2]

![image.png](attachment:image.png)

In [0]:
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
print(row_3[0:3]) #Slice1
print(row_3[3:5]) #Slice2 (from the forward side) 
print(row_3[-2:]) #Slice2 (from the reverse side) 
print(row_3[1:4]) #Slice3

#Note:
#a_list[:x] when we want to select the first x elements.
#a_list[-x:] when we want to select the last x elements.

['Clash of Clans', 0.0, 'USD']
[2130805, 4.5]
[2130805, 4.5]
[0.0, 'USD', 2130805]

# Work on it now

In the next cell, you can already see the lists for the 5 rows.

-  Select the first four elements from row_1 using a list slicing syntax shortcut. Assign the output to a variable named first_4_fb.
-  Select the last three elements from row_1 using a list slicing syntax shortcut. Assign the output to a variable named last_3_fb.
-  From row_5, select the list slice ['USD', 1126879] using a list slicing syntax shortcut. Assign the output to a variable named pandora_3_4.

In [0]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

# Write your code here and execute it

first_4_fb  = row_1[0:4]
print(first_4_fb)



last_3_fb   = row_1[-3:]
print(last_3_fb)


pandora_3_4 = row_5[-3:-1]
print(pandora_3_4)

['Facebook', 0.0, 'USD', 2974676]
['USD', 2974676, 3.5]
['USD', 1126879]

# List Methods
-  append
-  extend
-  sort

In [0]:
#append adds a new element to the end of a list

x=['a', 'b', 'c']

x.append('d')

print(x)

['a', 'b', 'c', 'd']

In [0]:
#extend takes a list of arguments and appends all of the elements
x1=['a', 'b', 'c']
x2=['d','e']
x1.extend(x2)
print(x1)

['a', 'b', 'c', 'd', 'e']

In [0]:
#sort arranges the elemets of the list from low to high

x=['e', 'a', 'c', 'b', 'd']
x.sort()
print(x)

['a', 'b', 'c', 'd', 'e']

# Work on it now (In the box below)

x=[1,2,3] y=[4,5] z=[4,2,3,1]

-  Using append add 4 to list x
-  Using extend append list y to list x
-  Using sort arrange the elements of list z

Can we do the above operations if the list had mixed data types? Try it!

In [0]:
# Write your code here
x=[1,2,3] 
y=[4,5] 
z=[4,2,3,1]

x.append(4)
print(x)

x.extend(y)
z.sort()

print(x)
print(z)

[1, 2, 3, 4]
[1, 2, 3, 4, 4, 5]
[1, 2, 3, 4]

# Deleting Elements
There are several ways to delete an element from a list

-  If you know the index of an element which you want to delete, you can use pop

-  If you don't need to save/remember the removed value, you can use the del operator

-  If you know the value you want to remove but not the index, you can use remove

In [0]:
x= ['a', 'b','c']
y=x.pop(1)
print(x)

['a', 'c']

In [0]:
x= ['a', 'b','c']
del x[1]
print(x)

['a', 'c']

In [0]:
x= ['a', 'b','c','e', 'c']
x.remove('c')
print(x) # you see it removed only the first 'c'!

['a', 'b', 'e', 'c']

In [0]:
#to remove more than one element you can use del with slice

x= ['a', 'b','c', 'd', 'e', 'f', 'g']
del x[2:6]
print(x)

['a', 'b', 'g']

# Work on it now (in the box below)
If the list animal = ['cat', 'dog', 'bird', 'tiger', 'squirrel']

-  Remove the second element on the list
-  Remove 'tiger' from the list
-  Remove the elements 'cat', 'dog','bird' at once

In [0]:
# Write your code here

animal = ['cat', 'dog', 'bird', 'tiger', 'squirrel']

print(animal)


del animal[1]
print(animal)

del animal[2]
print(animal)

del animal[0:4]
print(animal)

['cat', 'dog', 'bird', 'tiger', 'squirrel']
['cat', 'bird', 'tiger', 'squirrel']
['cat', 'bird', 'squirrel']
[]

# List of list

From the mobile app store dataset, instead of having a separate variable for each of the five data points 'Facebook', 0.0, 'USD', 2974676, 3.5, we can bundle the data points together into a list, and then store the list in a single variable. That is called list of list.

![image.png](attachment:image.png)

-  Retrieve the first list element (row_1) using data_set[0].
-  Retrieve the last list element (row_5) using data_set[-1].
-  Retrieve the first two list elements (row_1 and row_2) by performing list slicing using data_set[:2].


![image.png](attachment:image.png)

# Accessing list inside list element in one step

![image.png](attachment:image.png)

# Work on it now

In the next cell we've already stored the five rows as lists in separate variables. 

-  Group together the five lists in a list of lists. 
-  Assign the resulting list of lists to a variable named app_data_set.
-  Compute the average rating of the apps by retrieving the right data points from the app_data_set list of lists.
-  The rating is the last element of each row. You'll need to sum up the ratings and then divide by the number of ratings.
-  Assign the result to a variable named avg_rating.

In [0]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

app_data_set = []

#Write your codde here

app_data_set = [row_1,row_2,row_3,row_4,row_5]
app_data_set


avg_rating = ( ( app_data_set[0][-1]+ app_data_set[1][-1]+ app_data_set[2][-1]+ app_data_set[3][-1]+ app_data_set[4][-1]) / 5 ) 

print(avg_rating)

4.2

# Read a CSV and save it in a list
 Reading the csv line by line and storing each row manually in variables, is a cumbersome job. The CSV is very big in size, so reading and storing this way will take days. So we will use open and reader commands to load and read the csv. Now that we've read the file, we can transform it into a list of lists using the list() command:
 
 ![image.png](attachment:image.png)

# Work on it now

- Open the AppleStore.csv file and store it as list of lists.

- Open the file using the open() command. Save the output to a variable named opened_file.
- Read in the opened file using the reader() command (we've already imported reader() for you from the csv module). Save the output to a variable named read_file.
- Transform the read-in file to a list of lists using the list() command. Save the list of lists to a variable named apps_data.
- Explore apps_data. You could:
- Print its length using the len() command
- Print the first row (the row describing column names)
- Print the second and the third row (try to use list slicing here)

In [21]:
#@title Default title text
from google.colab import files
uploaded = files.upload()
opened_file = open( "AppleStore.csv" , encoding="utf8")
from csv import reader
read_file = reader(opened_file)
apps_data = list(read_file) 
print(apps_data[:5])
print(len(apps_data))
print(apps_data[2:4])

Saving AppleStore.csv to AppleStore (10).csv
[['', 'id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'], ['1', '281656475', 'PAC-MAN Premium', '100788224', 'USD', '3.99', '21292', '26', '4', '4.5', '6.3.5', '4+', 'Games', '38', '5', '10', '1'], ['2', '281796108', 'Evernote - stay organized', '158578688', 'USD', '0', '161065', '26', '4', '3.5', '8.2.2', '4+', 'Productivity', '37', '5', '23', '1'], ['3', '281940292', 'WeatherBug - Local Weather, Radar, Maps, Alerts', '100524032', 'USD', '0', '188583', '2822', '3.5', '4.5', '5.0.0', '4+', 'Weather', '37', '5', '3', '1'], ['4', '282614216', 'eBay: Best App to Buy, Sell, Save! Online Shopping', '128512000', 'USD', '0', '262241', '649', '4', '4.5', '5.10.0', '12+', 'Shopping', '37', '5', '9', '1']]
7198
[['2', '281796108', 'Evernote - stay organized', '158578688', 'USD', '0', '161065', '26', '4', '3.5', '8.2.2', '4+', 'Productivity', '37', '5', '23', '1'], ['3', '281940292', 'WeatherBug - Local Weather, Radar, Maps, Alerts', '100524032', 'USD', '0', '188583', '2822', '3.5', '4.5', '5.0.0', '4+', 'Weather', '37', '5', '3', '1']]